<h2>Python is a popular programming language. It was created by Guido van Rossum, and released in 1991.</h2>

<h3>It is used for:

web development (server-side),<br>
software development,<br>
mathematics,<br>
system scripting,<br>
Data Science (Analytics, Machine Learning, Artificial Itelligence)</h3>

<h1>Basic Hello World </h1>

In [27]:
print("Hello World. Now you are a python programmer")

Hello World. Now you are a python programmer

<h1>Comment in Python</h1>

In [28]:
print(" # This is a comment ") # This is a comment

 # This is a comment

 <h2> We Comment the codes using (#) in python </h2>

<h1>Creating Variables</h1> <br>

<h2> Python has no command for declaring a variable. <br>

A variable is created the moment you first assign a value to it.</h2>

In [30]:
x = 5 
print(x)

5

<h1> Data Types </h1> <br>
<h2>In programming, data type is an important concept.<br>

Variables can store data of different types, and different types can do different things.<br>

Python has the following data types built-in by default, in these categories:</h2>
<h3>
Text Type:	str <br>
Numeric Types:	int, float, complex<br>
Sequence Types:	list, tuple, range<br>
Mapping Type:	dict<br>
Set Types:	set, frozenset<br>
Boolean Type:	bool<br>
Binary Types:	bytes, bytearray, memoryview<br>
None Type:	NoneType
</h3>

In [31]:
x = 7
y = 7.5

In [32]:
print(type(x))
print(type(y))

<class 'int'>
<class 'float'>

In [34]:
name = "student"
print(type(name))

<class 'str'>

In [36]:
a = 1j
print(type(a))

<class 'complex'>

In [38]:
a = range(6)
a
print(type(a))

<class 'range'>

In [40]:
b = ["apple", "ball", "cat"]
print(type(b))

<class 'list'>

In [42]:
c = ("apples" , "ball" , "cat")
c

('apples', 'ball', 'cat')

In [43]:
print(type(c))

<class 'tuple'>

In [44]:
my_set= {"apple", "ball", "cat"}
my_set
print(type(my_set))

<class 'set'>

In [46]:
my_dcit = {"apple" : 1 , "ball": 2, "cat" : 3}
my_dcit

{'apple': 1, 'ball': 2, 'cat': 3}

In [48]:
print(type(my_dcit))

<class 'dict'>

<h1> Python Arithmetic Operators </h1><br>
<h2>Arithmetic operators are used with numeric values to perform common mathematical operations:</h2>

+	Addition		
-	Subtraction		
*	Multiplication	
/	Division		
%	Modulus		
**	Exponentiation	
//	Floor divisio

<h1>Python Assignment Operators Assignment operators are used to assign values to variables:</h1>

=	x = 5	x = 5	
+=	x += 3	x = x + 3	
-=	x -= 3	x = x - 3	
*=	x *= 3	x = x * 3	
/=	x /= 3	x = x / 3	
%=	x %= 3	x = x % 3	
//=	x //= 3	x = x // 3	
**=	x **= 3	x = x ** 3	
&=	x &= 3	x = x & 3	
|=	x |= 3	x = x | 3	
^=	x ^= 3	x = x ^ 3	
>>=	x >>= 3	x = x >> 3	
<<=	x <<= 3	x = x << 3

<h1> Python Comparison Operators</h1><br>
<h2>Comparison operators are used to compare two values:</h2>

Operator	Name	Example
==	Equal	x == y	
!=	Not equal	x != y	
>	Greater than	x > y	
<	Less than	x < y	
>=	Greater than or equal to	x >= y	
<=	Less than or equal to	x <= y

<h1>Python Logical Operators</h1><br>
<h2>Logical operators are used to combine conditional statements:</h1>


Operator	Description	Example	Try it
and 	Returns True if both statements are true	x < 5 and  x < 10	
or	Returns True if one of the statements is true	x < 5 or x < 4	
not	Reverse the result, returns False if the result is true	not(x < 5 and x < 1

In [49]:
x = 5 
y = 16

print (x + y)
print (x * y)
print (x - y)
print ( y / x)
print (y // x)
print(y % x)
print(y**x)

21
80
-11
3.2
3
1
1048576

In [50]:
x = 5
y = 16

print (x < y)
print (x > y)

print(x <= 5)
print (x >= 20)
print( x!=5)
print(y == 16)

True
False
True
False
False
True

In [51]:
#For Loop example  

for i in range(1 ,21):
    if i % 15 == 0:
        print("FIZZBUZZ", end="")
    elif i % 3 == 0:
        print("fizz", end="")
    elif i % 5 == 0:
        print("buzz", end = "")
    else:
        print(i, end= " ")

1 2 fizz4 buzzfizz7 8 fizzbuzz11 fizz13 14 FIZZBUZZ16 17 fizz19 buzz

Write an Python program using a for loop (see the syntax in the example fizzbuzz code
above) to add the integers 1 up to 𝑛. For example, when 𝑛 = 10 we should get 55

In [53]:
def calculate_sum(n):
    sum = 0
    for i in range(1 , n+1):
        sum += i # you can write it as sum = sum + i
    return sum

n = 10
result = calculate_sum(n)
print("The sum of integers from 1 to" , n , "is:", result )

The sum of integers from 1 to 10 is: 55

In [ ]:
Write an Python program using a for loop (see the syntax in the example fizzbuzz code
above) to add the integers 1 up to 𝑛. Take n - users input

In [54]:
def calculate_sum(n):
    sum = 0
    for i in range(1 , n+1):
        sum += i # you can write it as sum = sum + i
    return sum

n = int(input("Enter The number:"))
result = calculate_sum(n)
print("The sum of integers from 1 to" , n , "is:", result )

Enter The number:10
The sum of integers from 1 to 10 is: 55

Modify your Python code to add the cubes of the integers 1 up to 𝑛. take users input